openapi: 3.0.1
info:
  title: MijnGegevens API
  description: Deze documentatie beschrijft de generieke api voor het MijnApp-project van de gemeente Eindhoven. Als uitgangspunt is de API-strategie van het DSO gebruikt.
    [API en URI strategie DSO](https://aandeslagmetdeomgevingswet.nl/digitaal-stelsel/documenten/documenten/api-uri-strategie/) genomen.
    Gegevensdefinities zijn zoveel mogelijk overgenomen uit de relevante informatiemodellen, waaronder de BAG en de GBA.
  version: 0.6.6

servers:
  - url: https://mijnapp.solviteers.nl/api/{basePath}
    description: Acceptatie omgeving
    variables:
      basePath:
        default: v1

paths:
  /personen/{bsn}:
    get:
      summary: Persoondetails
      operationId: getUserByBsn
      tags:
        - personen
      parameters:
        - $ref: '#/components/parameters/bsnPathParam'
      responses:
        '200':    # status code
          description: Een JSON array met persoonsgegevens
          headers:
            API-version:
              $ref: '#/components/headers/API-version'
          content:
            application/json:
              schema:
                $ref: schemas/persoon.yaml#/Persoon
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '503':
          $ref: '#/components/responses/Unavailable'

  /personen/{bsn}/contracten:
    get:
      summary: Lijst met contracten
      tags:
        - contracten
      parameters:
        - $ref: '#/components/parameters/bsnPathParam'
      responses:
        '200':    # status code
          description: Een JSON array met contracten
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contract'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '503':
          $ref: '#/components/responses/Unavailable'

  /personen/{bsn}/contracten/{id}:
    get:
      summary: Contractdetails
      tags:
        - contracten
      parameters:
        - $ref: '#/components/parameters/bsnPathParam'
        - in: path
          name: id
          schema:
            type: integer
          required: true
          description: Contractidentificatie
      responses:
        '200':    # status code
          description: A JSON array of user names
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContractDetails'
              encoding:
                contractLeverancierLogo:
                  contentType: image/svg+xml
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '503':
          $ref: '#/components/responses/Unavailable'

  /personen/{bsn}/logregels:
    get:
      summary: Lijst met AVG logregels
      tags:
        - avg logregels
      parameters:
        - $ref: '#/components/parameters/bsnPathParam'
      responses:
        '200':    # status code
          description: A JSON array of user names
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Logregel'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '503':
          $ref: '#/components/responses/Unavailable'

  /personen/{bsn}/logregels/{id}:
    get:
      summary: AVG logregeldetails
      tags:
        - avg logregels
      parameters:
        - $ref: '#/components/parameters/bsnPathParam'
        - in: path
          name: id
          schema:
            type: integer
          required: true
          description: Contractidentificatie
      responses:
        '200':    # status code
          description: A JSON array of user names
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LogregelDetails'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '503':
          $ref: '#/components/responses/Unavailable'

components:
  # Reusable schemas (data models)
  schemas:

    # Contract
    Contract:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Unieke sleutel contract
        identificatie:
          type: string
          description: Domeinspecifiek contractnummer, bijvoorbeeld polisnummer of zaakidentificatie
        titel:
          type: string
        omschrijving:
          type: string
        organisatie:
          $ref: schemas/organisatie.yaml#/OrganisatieKort
      required:
        - id
        - contractNummer

    # Contractdetails
    ContractDetails:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Unieke sleutel contract
        identificatie:
          type: string
          description: Domeinspecifiek contractnummer, bijvoorbeeld polisnummer of zaakidentificatie
        titel:
          type: string
        omschrijving:
          type: string
        beginDatum:
          type: string
          format: date
          nullable: true
          description: Ingangsdatum contract
        eindDatum:
          type: string
          format: date
          nullable: true
          description: Einddatum contract
        type:
          type: string
          description: Soort contract. polis, identiteitsdocument, voorziening
        kosten:
          $ref: schemas/kosten.yaml#/Kosten
        organisatie:
          $ref: schemas/organisatie.yaml#/Organisatie
        extraVelden:
          type: array
          description: Vrij aan te bieden key-value pairs.
          items:
            type: string
          minItems: 1
          maxItems: 5
      required:
        - id
        - identificatie
        - titel
        - beginDatum

    # Logregel
    Logregel:
      type: object
      properties:
        id:
          type: string
          format: uuid
        verwerkerOrganisatie:
          $ref: schemas/organisatie.yaml#/OrganisatieKort
        procesOmschrijving:
          type: string
          description: Omschrijving proces
        raadpleegDatumTijdstip:
          type: string
          format: date-time

    # LogregelDetails
    LogregelDetails:
      type: object
      properties:
        id:
          type: string
          format: uuid
        verwerker:
          type: object
          properties:
            organisatie:
              $ref: schemas/organisatie.yaml#/OrganisatieKort
            gebruikersId:
              type: string
            applicatieId:
              type: string
        procesId:
          type: string
          description: ProcesId zoals gedefinieerd in NLX
        procesOmschrijving:
          type: string
          description: Omschrijving proces
        raadpleegDatumTijdstip:
          type: string
          format: date-time
        opgevraagdeElementen:
          type: string
          description: ombouwen naar array
        verwerkingsType:
          type: string
          enum:
            - C
            - R
            - U
            - D
            - E

  # Reusable path, query, header and cookie parameters
  parameters:
    bsnPathParam:
      in: path
      name: bsn
      schema:
        type: string
      required: true

  # Security scheme definitions (see Authentication), HTTP bearer
  securitySchemes:
    bearerAuth:            # arbitrary name for the security scheme
      type: http
      scheme: bearer
      bearerFormat: JWT    # optional, arbitrary value for documentation purposes

  # Reusable request bodies
  # requestBodies:
  #   ...

  # Reusable responses, such as 401 Unauthorized or 400 Bad Request
  responses:
    # Response: Not Found
    NotFound:
      description: Not found, er is een niet-bestaande resource opgevraagd
      content:
        application/json:
          schema:
            $ref: schemas/error.yaml#/Error
    # Response: Forbidden
    Forbidden:
      description: Forbidden, de geverifieerde gebruiker heeft geen toegangsrechten voor de resource
      content:
        application/json:
          schema:
            $ref: schemas/error.yaml#/Error
    # Response Unauthorized
    Unauthorized:
      description: Unauthorized, er zijn geen of ongeldige authenticatie details verstrekt.
      content:
        application/json:
          schema:
            $ref: schemas/error.yaml#/Error
    # Response Unavailable
    Unavailable:
      description: Unavailable, de bron voor het leveren van de gegevens is niet bereikbaar.
      content:
        application/json:
          schema:
            $ref: schemas/error.yaml#/Error

  # Reusable response headers
  headers:
    API-version:
      description: semver versioning
      schema:
        type: string

  # Reusable examples
  examples:
    9digitBsn:
      summary: Voorbeeld van een bsn met 9 karakters
      value: 123451234
    8digitBsn:
      summary: Voorbeeld van een bsn met een voorloopnul
      value: 012341234

  # Reusable links
  # links:
  #   ...

  # Reusable callbacks
  # callbacks:
  #   ...

# Apply the security globally to all operations
security:
  - bearerAuth: []         # use the same name as the defined securityScheme
